.Home-container{
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
height: 100vh;
background-image: url("./images/wallpaperflare.com_wallpaper.jpg");
background-size: cover;
z-index: -1;

}

.Text-mall{
color:#E9760C;
margin-top: 150px;
}

.Btn-Home{
margin-top: 400px;
background-color: #E9760C;
border-radius: 20px;
width: 200px;
height: 30px;
font-weight: bold;


}

.Product-container{
display: flex;
flex-direction: column;
width: 300px;
align-items: center;
justify-content: center;
}

.img-container{
width: 200px;
height: 200px;
}

.allproducts{
display:flex;
flex-wrap: wrap;
align-items: center;
width: 80%;
gap: 60px;
margin-left: 250px;
}

.textcolor{
color: #E9760C;
font-style: italic;

}
.family-text{
font-family: 'Kaushan Script', cursive;
}

.btn-add{
border-radius: 20px;
font-size:large;
background: #E9760C;
}

.Modal-added{
position: fixed;
top: 100px;
margin: 0;
background-color: transparent;
width:800px;
height: 800px;
display: flex;
justify-content: center;
align-items: center;
z-index: 2;

}

.Modal-text{
background-color: #E9760C;
height: 300px;
width: 300px;
}

.Payment{
text-align: center;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
border-radius: 20px;
color: #E9760C;

}


.form-group{
margin-bottom: 0px;
}

label{
color: #E9760C;
font-size: medium;
font-weight: bold;
}

.Orders{
width: 800px;
height: 800px;
background-color: black;
}


.Btn-continue{
position: fixed;
background-color: orange;

}

.Icon-form{
display: flex;
align-items: center;
gap: 15px;
}

.img-payment:hover{
cursor: pointer;
background-color: white;
}